@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.logo {
  font-family: "Allura", cursive;
  font-size: 48px;
}
.active {
  border-bottom: 1px solid grey;
}
.login-btn {
  background: transparent;
  border: 2px solid #ff812b;
  border-radius: 100px;
  color: #ff812b;
  transition: all 0.3s ease-in-out;
  padding: 15px 40px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}
.login-btn:hover {
  background-color: #ff812b;
  color: white;
}
.my-avatar {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  color: currentColor;

  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  padding: 0px;

  
}

.my-avatar:hover {
  --tw-border-opacity: 0;
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}
