.hero-img {
  width: 100%;
  min-height: 600px;
  object-fit: contain;
}
.hero-heading {
  line-height: 70px;
}
.hero-btn {
  border-radius: 100px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border: 0px;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.hero-btn:hover {
  background: transparent;
  border: 2px solid #ff812b;
  color: #ff812b;
}
